ipykernel>=6.29,<7.0
pandas>=2.0,<3.0
pori_python>=1.2,<2.0
Markdown>=3.9,<4.0
markdown-refdocs>=1.4,<2.0
mkdocs>=1.6,<2.0
mkdocs-material>=9.6,<10.0
markdown-include>=0.8,<1.0
mkdocs-exclude>=1.0,<2.0
mkdocs-awesome-pages-plugin>=2.10,<3.0
mkdocs-include-markdown-plugin>=7.2,<8.0
mknotebooks>=0.8,<1.0
mkdocs-redirects>=1.2,<2.0
pymdown-extensions>=10.16,<11.0
