.projects ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects ul li {
    display: grid;
    margin: 0;
    gap: 8px;
    grid-template-areas: "title title" "image description";
    margin-bottom: 30px;
}

.projects ul li > * {
    margin: 0 !important;
}

/* title */
.projects ul li > :first-child {
    grid-area: title;
    padding: 0 8px;
    font-size: large;
}

/* image */
.projects ul li > :nth-child(2) {
    padding: 8px;
    max-width: 200px;
}


.external ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.external ul li {
    display: grid;
    margin: 0;
    gap: 8px;
    grid-template-areas: "image title" "image source" "image license" "image description";
    margin-bottom: 30px;
    grid-auto-rows: max-content auto;
}

.projects ul li > * {
    margin: 0 !important;
}

.external ul li > p {
    padding: 0 8px;
}

/* title */
.external ul li > :nth-child(2) {
    grid-area: title;
    padding: 0 8px;
    font-size: large;
}

.external ul li > :nth-child(3):before {
    content: 'Source: ';
    color: #383838;
    font-weight: 700;
}

.external ul li > :nth-child(4):not(:last-child):before {
    content: 'Data License: ';
    color: #383838;
    font-weight: 700;
}

/* image */
.external ul li > :first-child {
    padding: 8px;
    width: 200px;
    grid-area: image;
}

.external ul li > :first-child > img {
    width: 100%;
}

.md-typeset div.arithmatex {
    overflow: unset !important;
}
