.projects ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects ul li {
    display: grid;
    margin: 0;
    gap: 8px;
    grid-template-areas: "title title" "image description";
}

.projects ul li > * {
    margin: 0 !important;
}

/* title */
.projects ul li > :first-child {
    grid-area: title;
    padding: 0 8px;
}

/* image */
.projects ul li > :nth-child(2) {
    padding: 8px;
}
