name: build

on:
  - push


jobs:
  docker:
    runs-on: ubuntu-latest
    name: docker build
    steps:
      - uses: actions/checkout@v2
      - name: build the keycloak docker container
        run: |
          docker build --file Dockerfile.auth --tag bcgsc/pori-auth .
  docs:
    name: build docs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -r requirements.txt
    - run: bash docs/build_external.sh
    - run: mkdocs build
